{% load static %}
.landing {
    background-image: url("/static/pages/img/login-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    font-family: 'Montserrat';
}

.landing:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to top,black,transparent);
	opacity: .9; 
}

.landing .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
}

.header a {
    padding: 10px;
    text-decoration: none;
    color: #eee;
    background-color: #222831;
}

.header a:hover {
    background-color: #00ADB5;
    transition: .3s;
}

.header a:active {
    color: #00ADB5;
    background-color: #eee;
}


.bg-faded {
    background-color: transparent;
}

.navbar-brand {
    font-family: 'Fjalla One';
}