{% extends 'pages/base.html' %}
{% load static %}
<script>
    {% block jquery %}
    let isplaying = false

        var endpoint = '/api/chart/data/'
        var values = []
        var labels = []
        var colors = []
        var tscore = []
        var ascore = []
        var dance_score = 0
        var valence_score = 0
        var dance_avg = 0
        var valence_avg = 0
        $.ajax({
            type: "GET",
            url: endpoint,
            success: function(data){
                for (let key in data.genres[0]) {
                    labels.push(data.genres[0][key].genre)
                    values.push(data.genres[0][key].value)
                    colors.push(data.genres[0][key].color)
                }
                tscore.push(data.track_score)
                tscore.push(data.track_avg)
                ascore.push(data.artist_score)
                ascore.push(data.artist_avg)
                dance_score = (data.dance_score*100).toFixed(1)
                valence_score = (data.valence_score*100).toFixed(1)
                $('.unique-val').text(data.genre_score)
                dance_avg = (data.dance_avg*100).toFixed(1)
                valence_avg = (data.valence_avg*100).toFixed(1)


                
                if (dance_score > dance_avg) {
                  $('.dance-avg').text('Your score is above the user average ('+ dance_avg +'%)')  
                } else {
                    $('.dance-avg').text('Your score is below the user average ('+ dance_avg +'%)')   
                }

                if (valence_score > valence_avg) {
                  $('.valence-avg').text('Your score is above the user average ('+ valence_avg +'%)')  
                } else {
                    $('.valence-avg').text('Your score is below the user average ('+ valence_avg +'%)')   
                }
                
                aDataString = ''
                count = 0
                artistInfo = []
                artistPreview = []
                for (let key in data.artists[0]) {
                    if (count >= 3 && count < 9) {
                        aDataString += "<img class='runner-img-"+count+"' src='"+data.artists[0][key].img+"'>"
                        artistInfo.push(data.artists[0][key].name)
                        artistPreview.push(data.artists[0][key].preview)
                    }
                    count += 1
                }
                tDataString = ''
                count = 0
                trackInfo = []
                trackPreview = []
                for (let key in data.tracks[0]) {
                    if (count >= 3 && count < 9) {
                        tDataString += "<img class='track-img-"+count+"' src='"+data.tracks[0][key].img+"'>"
                        trackInfo.push(data.tracks[0][key].name)
                        trackPreview.push(data.tracks[0][key].preview)
                    }
                    count += 1
                }



                document.getElementsByClassName('runner-up-artist')[0].innerHTML = aDataString
                document.getElementsByClassName('runner-up-track')[0].innerHTML = tDataString

                runnerClick('.runner-img-3',0)
                runnerClick('.runner-img-4',1)
                runnerClick('.runner-img-5',2)
                runnerClick('.runner-img-6',3)
                runnerClick('.runner-img-7',4)
                runnerClick('.runner-img-8',5)

                function runnerClick(className,index){
                        $(className).click(function(){
                            $('.runner-up-name').text(artistInfo[index]);
                            $('.runner-up-preview').attr('href', artistPreview[index])
                          
                            $('.audio-test').attr('src', artistPreview[index])  
                    })
                }

                function trackRunnerClick(className,index){
                        $(className).click(function(){
                            $('.track-up-name').text(trackInfo[index]);
                            $('.track-up-preview').attr('href', trackPreview[index])
                         
                            $('.audio-test').attr('src', trackPreview[index])  
                    })
                }
                trackRunnerClick('.track-img-3',0)
                trackRunnerClick('.track-img-4',1)
                trackRunnerClick('.track-img-5',2)
                trackRunnerClick('.track-img-6',3)
                trackRunnerClick('.track-img-7',4)
                trackRunnerClick('.track-img-8',5)

                document.getElementsByClassName("runner-up-preview")[0].addEventListener("click", function(event) {
                    event.preventDefault()
                     var audio = document.getElementsByClassName("audio-test")[0];
                         return audio.paused ? audio.play() : audio.pause();
                  })
                
                  document.getElementsByClassName("track-up-preview")[0].addEventListener("click", function(event) {
                    event.preventDefault()
                     var audio = document.getElementsByClassName("audio-test")[0];
                         return audio.paused ? audio.play() : audio.pause();
                  })


                document.getElementsByClassName('user-valence')[0].innerHTML = valence_score + '%'
                document.getElementsByClassName('user-danceability')[0].innerHTML = dance_score + '%'
                
                setChart()
                popChart(tscore,'myChart1')
                popChart(ascore,'myChart2')
                $('.artist-info').addClass(' load');
                buildLegend()

                $('.legend-item').click(function(event) {
                    console.log('clicked')
                    $('#external').html('')
                    var text = $(event.target).text();
                    submit(text)
                });

                // $('.user-danceability').each(function () {
                //     $(this).prop('Counter',0).animate({
                //         Counter: $(this).text()
                //     }, {
                //         duration: 1500,
                //         easing: 'linear',
                //         step: function (now) {
                //             $(this).text((now).toFixed(1));
                //         }
                //     });
                // });

                // $('.user-valence').each(function () {
                //     $(this).prop('Counter',0).animate({
                //         Counter: $(this).text()
                //     }, {
                //         duration: 1500,
                //         easing: 'linear',
                //         step: function (now) {
                //             $(this).text((now).toFixed(1));
                //         }
                //     });
                // });
            


                
                
               

                // $(window).scroll(function(){
                //     let scrollY = $(window).scrollTop() + $(window).height()
                //     if (scrollY > $('.genres').position().top + $('.genres').outerHeight()
                //      && !$('#myChart').hasClass('loaded')){
                        
                //         $('#myChart').addClass('loaded')
                //         $('.legend-item').addClass('revealed')
                //         $('.unique-genres').addClass('revealed')
                //     }
                // })
                // $(window).scroll(function(){
                //     let scrollY = $(window).scrollTop() + $(window).height()
                //     if (scrollY > $('.pop').position().top + $('.pop').outerHeight()
                //      && !$('#myChart1').hasClass('loaded')){
                        
                //         $('#myChart1').addClass('loaded')
                //     }
                // })
                
    
                document.getElementById('user-track-pop').innerHTML = data.track_score
                document.getElementById('all-track-pop').innerHTML = data.track_avg
                document.getElementById('user-artist-pop').innerHTML = data.artist_score
                document.getElementById('all-artist-pop').innerHTML = data.artist_avg



                

                let artistimg = document.getElementsByClassName("artist0")[0];
                artistimg.src = data.artists[0]['artist0'].img;
                let artistname = document.getElementsByClassName('artist0_name')[0];
                artistname.innerHTML = data.artists[0]['artist0'].name;
                let artistpop = document.getElementsByClassName('artist0_popularity')[0];
                artistpop.innerHTML = data.artists[0]['artist0'].popularity +'%';
                let artistgenre = document.getElementsByClassName('artist_genre')[0];
                artistgenre.innerHTML = data.artists[0]['artist0'].genre[0];

              
                let artist1img = document.getElementsByClassName("artist1")[0];
                artist1img.src = data.artists[0]['artist1'].img;
                let artist1name = document.getElementsByClassName('artist1_name')[0];
                artist1name.innerHTML = data.artists[0]['artist1'].name;
                let artist1pop = document.getElementsByClassName('artist1_popularity')[0];
                artist1pop.innerHTML = data.artists[0]['artist1'].popularity +'%';
                let artistgenre1 = document.getElementsByClassName('artist_genre')[1];
                artistgenre1.innerHTML = data.artists[0]['artist1'].genre[0]
            
                  
                let artist2img = document.getElementsByClassName("artist2")[0];
                artist2img.src = data.artists[0]['artist2'].img;
                let artist2name = document.getElementsByClassName('artist2_name')[0];
                artist2name.innerHTML = data.artists[0]['artist2'].name;
                let artist2pop = document.getElementsByClassName('artist2_popularity')[0];
                artist2pop.innerHTML = data.artists[0]['artist2'].popularity +'%';
                let artistgenre2 = document.getElementsByClassName('artist_genre')[2];
                artistgenre2.innerHTML = data.artists[0]['artist2'].genre[0]

                function artistClick(className,artist){
                        $(className).click(function(e){
                            e.preventDefault()
                            var audio = document.getElementsByClassName("audio-test")[0];
                            if (audio.paused != true) {
                                return audio.pause()
                            }
                            $('.audio-test').attr('src', data.artists[0][artist].preview)
                            return audio.paused ? audio.play() : audio.pause(); 
                    })
                }

                artistClick('.ap1','artist0')
                artistClick('.ap2','artist1')
                artistClick('.ap3','artist2')
    

                let track0 = document.getElementsByClassName("track0")[0];
                track0.src = data.tracks[0]['track0'].img;
                let track0name = document.getElementsByClassName('track0_name')[0];
                track0name.innerHTML = data.tracks[0]['track0'].name;
                let track0pop = document.getElementsByClassName('track0_popularity')[0];
                track0pop.innerHTML = data.tracks[0]['track0'].popularity +'%';
                let track0artist = document.getElementsByClassName('track_artist')[0];
                track0artist.innerHTML = data.tracks[0]['track0'].artist


                let track1 = document.getElementsByClassName("track1")[0];
                track1.src = data.tracks[0]['track1'].img;
                let track1name = document.getElementsByClassName('track1_name')[0];
                track1name.innerHTML = data.tracks[0]['track1'].name;
                let track1pop = document.getElementsByClassName('track1_popularity')[0];
                track1pop.innerHTML = data.tracks[0]['track1'].popularity +'%';
                let track1artist = document.getElementsByClassName('track_artist')[1];
                track1artist.innerHTML = data.tracks[0]['track1'].artist
               

                let track2 = document.getElementsByClassName("track2")[0];
                track2.src = data.tracks[0]['track2'].img;
                let track2name = document.getElementsByClassName('track2_name')[0];
                track2name.innerHTML = data.tracks[0]['track2'].name;
                let track2pop = document.getElementsByClassName('track2_popularity')[0];
                track2pop.innerHTML = data.tracks[0]['track2'].popularity +'%';
                let track2artist = document.getElementsByClassName('track_artist')[2];
                track2artist.innerHTML = data.tracks[0]['track2'].artist

                function trackClick(className,track){
                        $(className).click(function(e){
                            e.preventDefault()
                            var audio = document.getElementsByClassName("audio-test")[0];
                            if (audio.paused != true) {
                                return audio.pause()
                            }
                            $('.audio-test').attr('src', data.tracks[0][track].preview)
                            return audio.paused ? audio.play() : audio.pause(); 
                    })
                }

                trackClick('.tp1','track0')
                trackClick('.tp2','track1')
                trackClick('.tp3','track2')
                
                    setTimeout(function(){
                        $('.artist_img').addClass('a-load');; 
                        }, 100);
                    
                  

            },
            error: function(error_data){
                console.log('error')
                console.log(error_data)
            }
        });
    
    function setChart(){
        var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '',
                            data: values,
                            backgroundColor: colors,
                 borderColor: [
                     '#333',
                     '#333',
                 ],
                 borderWidth: 0,
             }]
         },
         options: {
            cutoutPercentage: 60,
             legend: {
                 display: false,
             },
         }
     });
    };

    function popChart(score,chart){
        var ctx = document.getElementById(chart).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Your Score', 'User Average'],
                        datasets: [{
                            label: '',
                            data: score,
                            backgroundColor: ['#00adb5', '#222831'],
                 borderColor: [
                     '#333',
                 ],
                 borderWidth: 0,
             }]
         },
         options: {
            cutoutPercentage: 60,
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI,
             legend: {
                 display: false,
             }
            
         }
     });
    };
    

    function buildLegend(){
        let legendData = '';
        let trans = [.9,.85,.8,.75,.7,.65,.6,.55,.5,.45,.4,.35,.3,.25,.2,.15,.1,]
        for (i=0;i<labels.length;i++){
            legendData += '<li class="legend-item" data-toggle="modal" data-target="#genreModal" style="transition: '+trans[i]+'s; background-color:' + colors[i] + '">' + labels[i] + '</li>';
        }
        let ulData = '<ul>'+legendData+'</ul>';
        document.getElementById('chart-legend-0').innerHTML = ulData
    };

    

    function submit(text){	
        var results = ''
        var userinput = ''
        if (text === 'pop') {
            userinput += 'pop music'
        }else if (text === 'rock') {
            userinput += 'rock music'
        }else if (text === 'christmas' || text === 'indie christmas') {
            userinput += 'christmas music'
        }else if (text === 'r&b'){
            userinput += 'rhythm and blues'
        }else {
            userinput += text
        }
        var wikiAPI = 'https://en.wikipedia.org/w/api.php?action=opensearch&search='+userinput+'&limit=5&namespace=0&format=json&callback=?';
        let blank = ''
        $.ajax({
            type:"GET",
            url:wikiAPI,
            async:false,
            dataType: 'json',
            success: function(data){
                results = 'No information available for this genre.'
                external = ''
                for (i=0;i<data[2].length;i++){
                    if (data[2][i].length === 0) {
                        results = 'No information available for this genre.'
                        $('#external').attr('href', blank);
                        $('#external').html('')
                    }
                    else if (data[2][i].includes('music') === true || data[2][i].includes('genre') === true){
                        results = data[2][i]
                        external = data[3][i]
                        $('#external').attr('href', external);
                        $('#external').html('Learn More')
                        break

                    }else if (data[2][i].includes('style') === true || data[2][i].includes('radio') === true){
                        results = data[2][i]
                        external = data[3][i]
                        $('#external').attr('href', external);
                        $('#external').html('Learn More')
                        break
                    }else {
                        $('#external').attr('href', blank);
                        $('#external').html('')
                    }
                }
                $('#genreModalLabel').html(text)
                $('#results').html(results);
                
            }
        })
}
    {% endblock %}
</script>

{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/profile.css' %}">
{% endblock %}

{% block content %}
{% include 'pages/profile-nav.html' %}
<div class="page-content">
    <div class="container-fluid top-artists">
            <div class="container">
                    <h1>TOP ARTISTS</h1>
                    <h2>BASED ON LONG TERM LISTENING HISTORY</h2>
                    <div class="underline"></div>
                <div class="row">
                <div class="col-md-4">
                        <div class="content">
                            <img class='artist0 artist_img' src="" alt="">
                        </div>
                        <div class="artist-info">
                            <h3 class="artist0_name artist_name"></h3>
                            <h4 class="artist_genre">Genre</h4>
                            <p class="popularity">Popularity: <span class="artist0_popularity pop-value"></span></p>
                            <a class="artist-preview ap1 paused" href=""></a>
                        </div>
                        <audio class='audio' src="" ></audio>
                    </div>
                    <div class="col-md-4">
                        <div class="content">
                            <img class='artist1 artist_img' src="" alt="">
                        </div>
                        <div class="artist-info">
                            <h3 class="artist1_name artist_name"></h3>
                            <h4 class="artist_genre">Genre</h4>
                            <p class="popularity">Popularity: <span class="artist1_popularity pop-value"></span></p>
                            <a class="artist-preview ap2 paused" href=""></a>
                            <audio class='audio' src="" ></audio>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content">
                            <img class='artist2 artist_img' src="" alt="">
                        </div>
                        <div class="artist-info">
                            <h3 class="artist2_name artist_name"></h3>
                            <h4 class="artist_genre">Genre</h4>
                            <p class="popularity">Popularity: <span class="artist2_popularity pop-value"></span></p>
                            <a class="artist-preview ap3 paused" href=""></a>
                            <audio class='audio' src="" ></audio>
                        </div>
                    </div>
                </div>
                <h4>RUNNERS-UP</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="runner-up-artist">
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 artist-runner runner">
                        <p class="runner-up-name">Click artist for audio sample</p>
                        <a class="runner-up-preview" target="_blank" href=""><img src="/static/pages/img/play.png" alt=""></a>
                        <audio class='audio-test' src="" ></audio>
                    </div>
                </div>
            </div>
        </div>
        <div class="container genres">
                <h1>GENRES</h1>
                <h2>BASED ON YOUR TOP 50 SONGS</h2>
                <div class="underline"></div>
            <div class="row">
                    <div class="col-md-6">
                            <div id="chart-legend-0">
                            </div>
                        </div>
                <div class="col-md-6">
                    <div class="unique-genres">
                        <p>Top 15</p>
                        <p><span class="unique-val"></span> genres discovered</p>
                    </div>
                    <canvas id="myChart" width="300" height="300">
                    </canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="chart-description"><span>O</span>ut of your top 50 songs, these are the 15 genre tags that appeared most often. Click on the genre tags for addition information about each genre. <span class="note">Note: some genres do not have additional information</span>.</p>
                </div>
            </div>
         </div>
         <div class="container tracks">
                <h1>TOP SONGS</h1>
                <h2>BASED ON RECENT LISTENING</h2>
                <div class="underline"></div>
            <div class="row">
            <div class="col-md-4">
                    <div class="content">
                        <img class='track0 artist_img' src="" alt="">
                    </div>
                    <div class="artist-info">
                        <h3 class="track0_name artist_name"></h3>
                        <h4 class="track_artist artist_genre"></h4>
                        <p class="popularity">Popularity: <span class="track0_popularity pop-value"></span></p>
                        <a class="artist-preview tp1 paused" href=""></a>
                    </div>
                   
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <img class='track1 artist_img' src="" alt="">
                    </div>
                    <div class="artist-info">
                        <h3 class="track1_name artist_name"></h3>
                        <h4 class="track_artist artist_genre"></h4>
                        <p class="popularity">Popularity: <span class="track1_popularity pop-value"></span></p>
                        <a class="artist-preview tp2 paused" href=""></a>
                    </div>
                  
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <img class='track2 artist_img' src="" alt="">
                    </div>
                    <div class="artist-info">
                        <h3 class="track2_name artist_name"></h3>
                        <h4 class="track_artist artist_genre"></h4>
                        <p class="popularity">Popularity: <span class="track2_popularity pop-value"></span></p>
                        <a class="artist-preview tp3 paused" href=""></a>
                    </div>
                  
                </div>
            </div>
            <h4>RUNNERS-UP</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="runner-up-track">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 track-runner runner">
                    <div class="track-up-name"><p>Click song for audio sample</p>
                    </div>
                    <a class="track-up-preview" target="_blank" href=""><img src="/static/pages/img/play.png" alt=""></a>
                </div>
            </div>
          
        </div>
        <div class="container pop">
            <h1>MUSIC POPULARITY</h1>
            <h2>BASED ON YOUR TOP 50 SONGS</h2>
            <div class="underline"></div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Songs</h3>
                    <canvas id="myChart1" width="300" height="300">
                    </canvas>
                    <div class="pop-info">
                        <p class="user-t-pop">Your Score: <span id="user-track-pop"></span></p>
                        <p class="all-t-pop">Avg Score: <span id="all-track-pop"></span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Artists</h3>
                    <canvas id="myChart2" width="300" height="300">
                    </canvas>
                    <div class="pop-info">
                        <p class="user-a-pop">Your Score: <span id="user-artist-pop"></span></p>
                        <p class="all-a-pop">Avg Score: <span id="all-artist-pop"></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="chart-description"><span>Y</span>our score is determined by the popularity value of the songs or artists in your <span class="note">top 50 songs</span>. A score higher than the average means your songs and artists are more popular than the average user on this platform. A lower score means your songs and artists are less popular.</p>
                </div>
            </div>
        </div>
        <div class="container totals">
                <h1>OVERALL</h1>
                <h2>HAPPINESS AND DANCEABILITY</h2>
                <div class="underline"></div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/pages/img/happy.png" alt="">
                    <div class="info">
                        <p class=""><span class="user-valence"></span></p>
                        <p class=""><span class="valence-avg avg">50%</span></p>
                        <p>HAPPINESS: Songs with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/static/pages/img/dance.png" alt="">
                    <div class="info">
                        <p class=""><span class="user-danceability"></span></p>
                        <p class=""><span class="dance-avg avg">50%</span></p>
                        <p>DANCEABILITY: How suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity.</p>
                    </div>
                </div>
            </div>   
    </div>      
      <!-- Genre Modal -->
      <div class="modal fade" id="genreModal" tabindex="-1" role="dialog" aria-labelledby="genreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="genreModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="results">
              ...
            </div>
            <div class="modal-footer">
                    <a id="external" target="_blank" href='' data-toggle="modal" data-target="#about"</a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}