<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" ><img id='user_img'src="{{ request.user.user_img }}" alt=""> | <span>{{ request.user.username }}</span> </a>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href='' data-toggle="modal" data-target="#about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
            </li>
            <li class="nav-item">
            </li>
          </ul>
        </div>
      </nav>
      <!-- About Modal -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="#" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="#">About Viewsic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Viewsic is a personal project built by Matt Brown. The goal was to create something fun that anyone would enjoy interacting with.</p>
            </div>
            <!-- <div class="modal-footer">
                    <a target="_blank" href=""></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
            </div>
        </div>
    </div>